.DS_Store
/Box2dGame/Box2dGame.xcodeproj/xcuserdata/ 
/Box2dGame/Box2dGame.xcodeproj/project.xcworkspace/xcuserdata/ 
Box2dGame/Box2dGame.xcodeproj/xcuserdata/yuriybosov.xcuserdatad/xcschemes/Box2dGame.xcscheme 
Box2dGame/Box2dGame.xcodeproj/xcuserdata/yuriybosov.xcuserdatad/xcschemes/xcschememanagement.plist 
Box2dGame/Box2dGame.xcodeproj/project.xcworkspace/xcuserdata/yuriybosov.xcuserdatad/UserInterfaceState.xcuserstate 
Box2dGame/Box2dGame.xcodeproj/project.xcworkspace/contents.xcworkspacedata
